@import "../../styles/colors.scss";

.post-content {
  background-color: $white-color;
  border-radius: 5px;
  max-width: 600px;
  padding: 20px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

  p {
    border-top: 1px solid $dividers-color;
    margin-top: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.4em;
    color: $main-text-color;
  }
}
